* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Encabezado del sitio */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}


/* gradiente de color en el header */
header {
    background: linear-gradient(to bottom, $gradient-start 0%, $gradient-end 100%);
}

/* Animación de desvanecimiento del logo */
#logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    animation: fade-in 3s forwards;

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animación de desvanecimiento solo al cargar la página */
body {
    animation: fade-in-page 2s forwards;
}

@keyframes fade-in-page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* BARRA DE NAVEGACION */

nav {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;


    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & li {
        margin-right: 10px;
    }

    & a {
        text-decoration: none;
        color: $main-color;
        padding: 8px;
        border-radius: 4px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;

        &:hover {
            background-color: $highlight-color;
        }
    }
}

.btn {
    background-color: $button-background;
}


.btn-outline-success:hover {
    color: #6df314;
    background-color: #ccff27ab;
    border-color: #000000;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

/* Estilo de TEXTOS */
h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 900;
    font-family: 'Ysabeau', sans-serif;

}

h3 {
    font-size: 15px;
    text-align: center;
    margin-top: center;
    font-family: 'Ysabeau', sans-serif;

}

h4 {
    color: rgb(74, 59, 35);


}

h5 {
    font-size: 20px;
    text-align: center;
    margin-top: center;
}

p {

    text-align: auto;
    line-height: 1.5;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 400;
}

article {
    text-indent: 20px;
    font-family: 'Ysabeau', sans-serif;

}

li {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;


}

/* Estilo del Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo del Footer */
footer {
    background: linear-gradient(to left, #d9f57d80 50%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

/* Iconos de redes sociales */
.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-icons a {
    color: #333;

    font-size: 25px;
    margin-left: 10px;
}

/* boton flotante para ir al inicio */
.irinicio {
    display: flex;
    color: #415d34;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 10px
}

.car-icon {
    margin-left: auto;
    margin-right: 15px;
}