.container-form {
    padding: 20px;
    margin-bottom:20px;

}

.boton-enviar {
    background-color: #ccff27ab;
    border-color: #000;
    color: #333131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 10px;
    &:hover {
        background-color: #5714f3;
        border-color: #000;
        color: #fff;
    }
}