.video-container {
    max-width: 800px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-text{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.valoresnutricionales{
    text-align: left;
    padding-left: 20px;
}