/* BANNER EN INDEX*/
#imagenbanner {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#imagenbanner-mobile {
    width: 100%;
    height: auto;
}



.card {
    width: 18rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

