.boton {
    background-color: #ccff27ab;
    border-color: #000;
    color: #333131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 10px;
    
    &:hover {
        background-color: #6df314;
        border-color: #000;
        color: #fff;
    }
}



.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
}

.card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;


}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.valoresnutricionales {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}


.row {
    justify-content: space-around;
}

.containerimg {
    padding: 1em;
    max-width: 500px;
}