.boton {
    background-color: #ccff27ab;
    border-color: #000;
    color: #333131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 10px;

    &:hover {
        background-color: #5714f3;
        border-color: #000;
        color: #fff;
    }
}


.container-tienda .card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container-tienda .card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}