$main-color: #6B6362;
$gradient-start: rgba(248, 246, 212, 0.774);
$gradient-end: rgba(0, 0, 0, 0);
$highlight-color: rgba(217, 245, 125, 0.5019607843);
$button-background: rgba(204, 255, 39, 0.6705882353);